@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    @include abstracts.screen(lg) {
        gap: 10px;
    }

    &__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        @include abstracts.screen(lg) {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }
    }
    &__image {
        @include abstracts.screen(lg) {
            height: 24px;
        }
    }
}
