html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(8%) saturate(2%) hue-rotate(327deg) brightness(114%)
        contrast(100%);
    --header-bg-color: #171c28;
    --body-bg-color: #292e39;
    --top-act-bg-group-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    // dropdown
    --dropdown-bg-color: #292e39;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: invert(15%) sepia(11%) saturate(1164%) hue-rotate(183deg) brightness(92%) contrast(89%);
    --top-menu-boder-color: #171c28;
    --menu-culumn-heading-color: #b9babe;
    --menu-culumn-link-text-color: #b9babe;
    // category-item
    --category-item-bg-color: #171c28;
    --category-item-thumb-bg-color: #fff;

    // filter
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;

    // like-btn
    --like-btn-bg-color: #292e39;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    // product
    --product-card-bg-color: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);
}
